@model PreprocessorVoteSettings
@{
    string actionStr = @$"{VRoutes.Controller}{VRoutes.ACreating}?organizationId={Model.OwnerOrganization}&countAnswers={Model.CountAnswers}";
} 
<form action=@actionStr>
    <input for="mh" type="text" name="mainheader" />
    <label id="mh">Заголовок:</label>
    <input type="text" for="md" name="maindescription"/>
    <label id="md">Описание:</label>
    @{
        for(int i = 0; i < Model.CountAnswers; i++)
        {
            string answerIdHeader = @$"ah{Convert.ToString(i)}";
            string answerIdDescription = @$"ad{Convert.ToString(i)}";
            string answerNameHeader = @$"answerheader_{Convert.ToString(i)}";
            string answerNameDescription = @$"answerdescription_{Convert.ToString(i)}";
            string answerViewHeader = @$"Заголовок {Convert.ToString(i+1)}-го ответа:";
            string answerViewDescription = @$"Описание {Convert.ToString(i+1)}-го ответа:";

            <input for=@answerIdHeader type="text" name=@answerNameHeader />
            <label id=@answerIdHeader>@answerViewHeader</label>

            <input for=@answerIdDescription type="text" name=@answerNameDescription />
            <label id=@answerIdDescription>@answerViewDescription</label>
        }
    }
    <div>
        <h2>Режим голосования:</h2>
        <label for="alone">Один ответ</label>
                <input id="alone" type="radio" name="votetype" value="alone" checked />
        <label for="some">Несколько ответов</label>
                <input id="some" type="radio" name="votetype" value="some" />
        <label for="prefer">Предпочтения по приоритету</label>
                <input id="prefer" type="radio" name="votetype" value="prefer" />
    </div>
    
    <div>

        <input type="datetime" id="activetime" name="activetime" />
        <label for="activetime">Доступно до:</label>

        <input type="checkbox" id="ep" name="ep" checked />
        <label for="ep">Возможно продление</label>
    
        <input type="checkbox" id="iat" name="iat" checked/>
        <label for="iat">Голосование бессрочно</label>

        <input type="checkbox" id="rac" name="rac" checked />
        <label for="rac">Результаты по окончании</label>
    
    </div>

        <input type="checkbox" id="av" name="av" checked />
        <label for="av">Анонимное голосование</label>

        <input type="checkbox" id="prv" name="prv" checked />
        <label for="prv">Возможно переголосовать</label>
    

    @{
        List<RoleRadioBlock> blocks = new List<RoleRadioBlock>() 
        {new RoleRadioBlock("Голосовать может:","minroletovoting"), new RoleRadioBlock("Просматривать результаты может:","minroletoactual"),
        new RoleRadioBlock("Просматривать динамику может:","minroletodynamic") };
    }
    @{
        foreach(var block in blocks){
    <div>
        <h2>@block.actionView</h2>
        <label for="owner">Владелец</label>
                <input id="owner" type="radio" name=@block.actionName value="owner" />
        <label for="admin">Администратор</label>
                <input id="admin" type="radio" name=@block.actionName value="admin" />
        <label for="audience">Участник группы</label>
                <input id="audience" type="radio" name=@block.actionName value="audience" />
        <label for="passerby">Обыватель</label>
                <input id="passerby" type="radio" name=@block.actionName value="passerby" checked />
    </div>
        }
    }

    <button type="submit">Создать голосование</button>

</form>