<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" asp-append-version="true" />
    <script src="~/js/bootstrap.min.js" asp-append-version="true"></script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
