<form action=@(@$"{ORoutes.Controller}{ORoutes.ACreating}") method="post">
    <label for="nick">Ник организации</label>
    <input id="nick" type="text" name="nick"/>
    <label for="name">Имя организации</label>
    <input id="name" type="text" name="name" />
    <input type="submit" value="Создать организацию"/>
</form>