@model PeopleInOrganization

<h1>@Model.typeOfMembers</h1>

@{
    foreach (var user in Model.members)
    {
        <a href=@user.url>
            @($"{user.name} {user.nick}")
        </a>

        if (Model.isAcceptPersonPossible)
        {
            <a class="btn-YES" href="">Добавть</a>
        }
        if (Model.isExcludePersonPossible)
        {
            <a class="btn-NO" href="">Исключить</a>
        }
        if (Model.isRejectApplicationOfPersonPossible)
        {
            <a class="btn-NO" href="">Отклонить</a>
        }
        if (Model.isIncludeAdminPossible)
        {
            <a class="btn-primary" href="">Дать права администратора</a>
        }
        if (Model.isExcludeAdminPossible)
        {
            <a class="btn-NO" href="">Лишить прав администратора</a>
        }

    }
}